fastapi
uvicorn
transformers
sentence-transformers>=2.2.2
torch
faiss-cpu>=1.7.4
python-dotenv
streamlit>=1.29.0
numpy>=1.24.0
pandas>=2.1.0
requests>=2.31.0
matplotlib>=3.8.0
seaborn>=0.13.0
jupyter
notebook
nltk>=3.8.1